@model List<RevFlix.Client.Models.MovieIntModel>

@foreach (var item in Model)
{
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placecorgi.com/200" alt="Piture of @item.Title">
        <div class="caption">
            <h3>
                <a asp-controller="Movie" asp-action="DisplayDetails" asp-route-Imdb_id="@item.Imdb_id">@item.Title</a>
            </h3>
            <p>@item.Year</p>
        </div>
        <div class="AddtoList">
            <p class="button">
                <a class="btn btn-primary" asp-controller="List" asp-action="AddToList" asp-route-Imdb_id="@item.Imdb_id">Add to Watch list</a>
            </p>
        </div>
    </div>
</div>
}